In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine=create_engine("postgresql://postgres:super_pw@localhost/postgres")

In [3]:
sql=("select trips.line_id,trips.route_id,trips.direction,count(*) "
    "from trips, leavetimes as lt "
    "where trips.daystamp = lt.daystamp and trips.trip_id=lt.trip_id "
    "group by trips.line_id,trips.route_id,trips.direction;")

In [4]:
route_df = pd.read_sql(sql,engine)

In [5]:
route_df.head()

  line_id  route_id  direction   count
0       1        37          1  596936
1       1        38          1   45847
2       1        39          1    8045
3       1        40          2  639503
4       1        41          2   46629

In [6]:
def find_max(line_id,direction):
    return max(route_df["count"][(route_df["line_id"]==line_id) & (route_df["direction"]==direction)])

In [7]:
max_count=[]
for i in range(route_df.shape[0]):
    line_id,direction=route_df.iloc[i][["line_id","direction"]]
    max_count.append(find_max(line_id,direction))

In [8]:
max_count

[596936,
 596936,
 596936,
 639503,
 639503,
 487108,
 479448,
 479448,
 130510,
 135084,
 778008,
 778008,
 852643,
 852643,
 178984,
 133661,
 133661,
 133661,
 139653,
 141607,
 8107,
 14387,
 10619,
 10619,
 316852,
 316852,
 300878,
 300878,
 300878,
 316852,
 300878,
 474255,
 474255,
 480562,
 480562,
 474255,
 474255,
 480562,
 480562,
 1005227,
 1005227,
 1087313,
 1087313,
 640002,
 640002,
 640002,
 640002,
 640002,
 640002,
 640002,
 640002,
 768649,
 768649,
 768649,
 768649,
 768649,
 768649,
 768649,
 768649,
 768649,
 768649,
 998538,
 1015515,
 1294531,
 1294531,
 1356188,
 1294531,
 944591,
 944591,
 944591,
 904012,
 904012,
 41102,
 46874,
 41102,
 46874,
 41102,
 1930693,
 1930693,
 1930693,
 1930693,
 1930693,
 1930693,
 1959988,
 1959988,
 1959988,
 1959988,
 1959988,
 1930693,
 1930693,
 1959988,
 1930693,
 27721,
 10631,
 27721,
 1535439,
 1535439,
 1944879,
 1944879,
 1535439,
 1535439,
 524775,
 513482,
 513482,
 599803,
 599803,
 693187,
 693187,
 693187,
 614669,
 501987,
 501987,
 805463,
 805463,
 640384,
 640384,
 17025,
 7984,
 7984,
 1536446,
 1536446,
 1536446,
 1536446,
 1659827,
 19123,
 15749,
 15749,
 20406,
 20406,
 27348,
 20406,
 5903,
 509075,
 509075,
 509075,
 509075,
 509075,
 524767,
 524767,
 524767,
 524767,
 509075,
 591722,
 591722,
 588233,
 588233,
 591722,
 591722,
 588233,
 588233,
 827634,
 784048,
 784048,
 339404,
 336408,
 40232,
 40232,
 40232,
 40232,
 40232,
 40232,
 63446,
 63446,
 63446,
 63446,
 63446,
 63446,
 63446,
 63446,
 208559,
 217317,
 208559,
 217317,
 16666,
 14681,
 98575,
 98575,
 111621,
 105120,
 100411,
 214731,
 206268,
 572534,
 561428,
 538250,
 555882,
 538250,
 28610,
 24272,
 16283,
 17298,
 16283,
 17298,
 16283,
 16283,
 131350,
 115775,
 115775,
 131350,
 115775,
 1984962,
 2038407,
 1984962,
 1984962,
 2038407,
 2038407,
 1984962,
 95278,
 100812,
 379034,
 371813,
 371813,
 371813,
 637904,
 637904,
 637904,
 637904,
 523666,
 523666,
 523666,
 523666,
 523666,
 523666,
 637904,
 21397,
 20061,
 692939,
 760409,
 595927,
 595927,
 595927,
 634489,
 215440,
 217964,
 47706,
 53631,
 53631,
 5722,
 6404,
 421251,
 448609,
 18546,
 22664,
 18546,
 416274,
 416274,
 416274,
 410554,
 410554,
 410554,
 410554,
 95193,
 95193,
 97812,
 97812,
 97812,
 142514,
 142514,
 166087,
 166087,
 166087,
 4575,
 4154,
 4154,
 1452,
 62682,
 56925,
 62682,
 56925,
 964479,
 928021,
 964479,
 476711,
 476711,
 527645,
 527645,
 527645,
 385119,
 367651,
 367651,
 367651,
 58461,
 73143,
 73143,
 6172,
 7289,
 803423,
 973258,
 803423,
 973258,
 1823384,
 1823384,
 1882796,
 1882796,
 1823384,
 1882796,
 24241,
 20820,
 20820,
 995729,
 995729,
 925177,
 925177,
 925177,
 2085393,
 2085393,
 2085393,
 2085393,
 2218966,
 2218966,
 2218966,
 61541,
 61541,
 74385,
 369293,
 369293,
 351239,
 351239,
 369293,
 351239,
 16834,
 16571,
 709037,
 709037,
 709037,
 709037,
 810821,
 810821,
 810821,
 810821,
 709037,
 709037,
 709037,
 810821,
 810821,
 24591,
 66015,
 66015,
 58967,
 66015,
 742848,
 653384,
 653384,
 742848,
 653384,
 673,
 444,
 15691,
 15691,
 15691,
 17299,
 17299,
 17299,
 15691,
 15691,
 17299,
 17299,
 17299,
 15691,
 15691,
 15691,
 15691,
 15691,
 17299,
 17299,
 17299,
 653581,
 730758,
 5484,
 5595,
 395103,
 395103,
 371620,
 371620,
 448975,
 448975,
 448975,
 440063,
 440063,
 440063,
 33054,
 29429,
 333102,
 319974,
 333102,
 333102,
 319974,
 319974,
 2111580,
 2111580,
 2111580,
 2111580,
 2111580,
 2111580,
 2099746,
 2099746,
 2099746,
 2099746,
 2099746,
 2099746,
 2099746,
 2111580,
 13929,
 13929,
 259415,
 259415,
 263532,
 263532,
 263532,
 475781,
 501323,
 501323,
 28730,
 19439,
 28730,
 9641,
 9641,
 74018,
 74782,
 74018,
 74018,
 407622,
 399134,
 259459,
 273300,
 99965,
 113590,
 246794,
 246794,
 254862,
 254862,
 231159,
 231159,
 231159,
 196181,
 196181,
 196181,
 196181,
 178701,
 178701,
 178701,
 205549,
 205549,
 205549,
 385365,
 347538,
 403973,
 362029,
 362029,
 403973,
 403973,
 362029,
 151946,
 140417,
 151946,
 140417,
 161672,
 139706,
 161672,
 139706,
 36493,
 36493,
 36493,
 36493,
 29667,
 29667,
 29667,
 29667,
 29667,
 29667,
 29667,
 29667,
 29667,
 29667,
 796387,
 775998,
 50732,
 50732,
 50732,
 54303,
 54303,
 50732,
 50732,
 50732,
 54303,
 54303,
 227333,
 226099,
 226099,
 226099,
 226099,
 227333,
 227333,
 227333,
 227333,
 17668,
 13154,
 9848,
 214866,
 176789,
 214866,
 176789,
 214866,
 214866,
 5001,
 3472,
 415732,
 415732,
 372694,
 372694,
 415732,
 415732,
 372694,
 326975,
 330335,
 330335,
 6380,
 7204,
 622359,
 622359,
 665535,
 665535,
 665535,
 391152,
 396509,
 27821,
 27647,
 921565,
 931308,
 931308,
 921565,
 12738,
 12738,
 359623,
 345112,
 292166,
 266535,
 526435,
 526435,
 398651,
 398651,
 398651,
 49928,
 70117,
 12120,
 15818,
 15818,
 15818,
 981212,
 981212,
 981212,
 981212,
 924535,
 924535,
 924535,
 924535,
 981212,
 981212,
 247215,
 247215,
 257210,
 257210,
 363397,
 363397,
 363397,
 360506,
 360506,
 360506,
 54739,
 54739,
 54427,
 54427,
 46034,
 46034,
 40501,
 40501,
 40501,
 46034,
 40501,
 46034,
 46034,
 46034,
 40501,
 40501,
 1344620,
 1344620,
 1394028,
 1394028]

In [9]:
route_df["max_count"]=pd.Series(max_count)

In [10]:
route_df.head()

  line_id  route_id  direction   count  max_count
0       1        37          1  596936     596936
1       1        38          1   45847     596936
2       1        39          1    8045     596936
3       1        40          2  639503     639503
4       1        41          2   46629     639503

In [11]:
prevalent_routes=route_df[route_df["count"]==route_df["max_count"]]

In [12]:
prevalent_routes

    line_id  route_id  direction    count  max_count
0         1        37          1   596936     596936
3         1        40          2   639503     639503
5       102         8          1   487108     487108
6       102         9          2   479448     479448
8       104        15          1   130510     130510
..      ...       ...        ...      ...        ...
570     84A         3          2    54427      54427
575     84X        57          1    40501      40501
580     84X        62          2    46034      46034
584       9         5          1  1344620    1344620
586       9         7          2  1394028    1394028

[252 rows x 5 columns]

In [13]:
prevalent_routes=prevalent_routes[["line_id","route_id","direction"]]

In [15]:
stop_route_match=pd.DataFrame()
length=prevalent_routes.shape[0]
for i in range(length):
    line_id,route_id,direction=prevalent_routes.iloc[i].values
    sql=("select distinct trips.line_id, trips.route_id, trips.direction,lt.stoppoint_id, lt.progr_number "
        "from trips, leavetimes as lt "
        "where trips.line_id='"+line_id+"' and trips.route_id="+str(route_id)+ " "
        "and trips.direction="+str(direction)+" and "
        "trips.daystamp=lt.daystamp and trips.trip_id=lt.trip_id")
    stops_df=pd.read_sql(sql,engine)
    stop_route_match=stop_route_match.append(stops_df,ignore_index=True)
    print(f"Done processing route {i+1}/{length}")

Done processing route 1/252
Done processing route 2/252
Done processing route 3/252
Done processing route 4/252
Done processing route 5/252
Done processing route 6/252
Done processing route 7/252
Done processing route 8/252
Done processing route 9/252
Done processing route 10/252
Done processing route 11/252
Done processing route 12/252
Done processing route 13/252
Done processing route 14/252
Done processing route 15/252
Done processing route 16/252
Done processing route 17/252
Done processing route 18/252
Done processing route 19/252
Done processing route 20/252
Done processing route 21/252
Done processing route 22/252
Done processing route 23/252
Done processing route 24/252
Done processing route 25/252
Done processing route 26/252
Done processing route 27/252
Done processing route 28/252
Done processing route 29/252
Done processing route 30/252
Done processing route 31/252
Done processing route 32/252
Done processing route 33/252
Done processing route 34/252
Done processing route 35/252
Done processing route 36/252
Done processing route 37/252
Done processing route 38/252
Done processing route 39/252
Done processing route 40/252
Done processing route 41/252
Done processing route 42/252
Done processing route 43/252
Done processing route 44/252
Done processing route 45/252
Done processing route 46/252
Done processing route 47/252
Done processing route 48/252
Done processing route 49/252
Done processing route 50/252
Done processing route 51/252
Done processing route 52/252
Done processing route 53/252
Done processing route 54/252
Done processing route 55/252
Done processing route 56/252
Done processing route 57/252
Done processing route 58/252
Done processing route 59/252
Done processing route 60/252
Done processing route 61/252
Done processing route 62/252
Done processing route 63/252
Done processing route 64/252
Done processing route 65/252
Done processing route 66/252
Done processing route 67/252
Done processing route 68/252
Done processing route 69/252
Done processing route 70/252
Done processing route 71/252
Done processing route 72/252
Done processing route 73/252
Done processing route 74/252
Done processing route 75/252
Done processing route 76/252
Done processing route 77/252
Done processing route 78/252
Done processing route 79/252
Done processing route 80/252
Done processing route 81/252
Done processing route 82/252
Done processing route 83/252
Done processing route 84/252
Done processing route 85/252
Done processing route 86/252
Done processing route 87/252
Done processing route 88/252
Done processing route 89/252
Done processing route 90/252
Done processing route 91/252
Done processing route 92/252
Done processing route 93/252
Done processing route 94/252
Done processing route 95/252
Done processing route 96/252
Done processing route 97/252
Done processing route 98/252
Done processing route 99/252
Done processing route 100/252
Done processing route 101/252
Done processing route 102/252
Done processing route 103/252
Done processing route 104/252
Done processing route 105/252
Done processing route 106/252
Done processing route 107/252
Done processing route 108/252
Done processing route 109/252
Done processing route 110/252
Done processing route 111/252
Done processing route 112/252
Done processing route 113/252
Done processing route 114/252
Done processing route 115/252
Done processing route 116/252
Done processing route 117/252
Done processing route 118/252
Done processing route 119/252
Done processing route 120/252
Done processing route 121/252
Done processing route 122/252
Done processing route 123/252
Done processing route 124/252
Done processing route 125/252
Done processing route 126/252
Done processing route 127/252
Done processing route 128/252
Done processing route 129/252
Done processing route 130/252
Done processing route 131/252
Done processing route 132/252
Done processing route 133/252
Done processing route 134/252
Done processing route 135/252
Done processing route 136/252
Done processing route 137/252
Done processing route 138/252
Done processing route 139/252
Done processing route 140/252
Done processing route 141/252
Done processing route 142/252
Done processing route 143/252
Done processing route 144/252
Done processing route 145/252
Done processing route 146/252
Done processing route 147/252
Done processing route 148/252
Done processing route 149/252
Done processing route 150/252
Done processing route 151/252
Done processing route 152/252
Done processing route 153/252
Done processing route 154/252
Done processing route 155/252
Done processing route 156/252
Done processing route 157/252
Done processing route 158/252
Done processing route 159/252
Done processing route 160/252
Done processing route 161/252
Done processing route 162/252
Done processing route 163/252
Done processing route 164/252
Done processing route 165/252
Done processing route 166/252
Done processing route 167/252
Done processing route 168/252
Done processing route 169/252
Done processing route 170/252
Done processing route 171/252
Done processing route 172/252
Done processing route 173/252
Done processing route 174/252
Done processing route 175/252
Done processing route 176/252
Done processing route 177/252
Done processing route 178/252
Done processing route 179/252
Done processing route 180/252
Done processing route 181/252
Done processing route 182/252
Done processing route 183/252
Done processing route 184/252
Done processing route 185/252
Done processing route 186/252
Done processing route 187/252
Done processing route 188/252
Done processing route 189/252
Done processing route 190/252
Done processing route 191/252
Done processing route 192/252
Done processing route 193/252
Done processing route 194/252
Done processing route 195/252
Done processing route 196/252
Done processing route 197/252
Done processing route 198/252
Done processing route 199/252
Done processing route 200/252
Done processing route 201/252
Done processing route 202/252
Done processing route 203/252
Done processing route 204/252
Done processing route 205/252
Done processing route 206/252
Done processing route 207/252
Done processing route 208/252
Done processing route 209/252
Done processing route 210/252
Done processing route 211/252
Done processing route 212/252
Done processing route 213/252
Done processing route 214/252
Done processing route 215/252
Done processing route 216/252
Done processing route 217/252
Done processing route 218/252
Done processing route 219/252
Done processing route 220/252
Done processing route 221/252
Done processing route 222/252
Done processing route 223/252
Done processing route 224/252
Done processing route 225/252
Done processing route 226/252
Done processing route 227/252
Done processing route 228/252
Done processing route 229/252
Done processing route 230/252
Done processing route 231/252
Done processing route 232/252
Done processing route 233/252
Done processing route 234/252
Done processing route 235/252
Done processing route 236/252
Done processing route 237/252
Done processing route 238/252
Done processing route 239/252
Done processing route 240/252
Done processing route 241/252
Done processing route 242/252
Done processing route 243/252
Done processing route 244/252
Done processing route 245/252
Done processing route 246/252
Done processing route 247/252
Done processing route 248/252
Done processing route 249/252
Done processing route 250/252
Done processing route 251/252
Done processing route 252/252

In [16]:
stop_route_match.shape

(13863, 5)

In [17]:
stop_route_match

      line_id  route_id  direction  stoppoint_id  progr_number
0           1        37          1            44            13
1           1        37          1            45            15
2           1        37          1            46            16
3           1        37          1            47            17
4           1        37          1            48            18
...       ...       ...        ...           ...           ...
13858       9         7          2          6219            66
13859       9         7          2          6229            67
13860       9         7          2          7131            68
13861       9         7          2          7458            60
13862       9         7          2          7589            30

[13863 rows x 5 columns]

In [22]:
def find_min_progr_number(line_id,direction,stop_id):
    return min(stop_route_match["progr_number"][(stop_route_match["line_id"]==line_id) & (stop_route_match["direction"]==direction) & (stop_route_match["stoppoint_id"]==stop_id)])

In [23]:
min_progr_number=[]
for i in range(stop_route_match.shape[0]):
    line_id,direction,stop_id=stop_route_match.iloc[i][["line_id","direction","stoppoint_id"]]
    min_progr_number.append(find_min_progr_number(line_id,direction,stop_id))

In [25]:
stop_route_match["min_progr"]=pd.Series(min_progr_number)

In [26]:
matched_routes=stop_route_match[stop_route_match["progr_number"]==stop_route_match["min_progr"]]

In [27]:
matched_routes

      line_id  route_id  direction  stoppoint_id  progr_number  min_progr
0           1        37          1            44            13         13
1           1        37          1            45            15         15
2           1        37          1            46            16         16
3           1        37          1            47            17         17
4           1        37          1            48            18         18
...       ...       ...        ...           ...           ...        ...
13858       9         7          2          6219            66         66
13859       9         7          2          6229            67         67
13860       9         7          2          7131            68         68
13861       9         7          2          7458            60         60
13862       9         7          2          7589            30         30

[12799 rows x 6 columns]

In [30]:
matched_routes[["line_id","route_id","direction","stoppoint_id","progr_number"]]

      line_id  route_id  direction  stoppoint_id  progr_number
0           1        37          1            44            13
1           1        37          1            45            15
2           1        37          1            46            16
3           1        37          1            47            17
4           1        37          1            48            18
...       ...       ...        ...           ...           ...
13858       9         7          2          6219            66
13859       9         7          2          6229            67
13860       9         7          2          7131            68
13861       9         7          2          7458            60
13862       9         7          2          7589            30

[12799 rows x 5 columns]

In [31]:
matched_routes[["line_id","route_id","direction","stoppoint_id","progr_number"]].to_csv("stop_route_match.csv")