In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("stops.txt")

In [3]:
coords_df=df[["stop_lat","stop_lon"]]

In [4]:
names=df.stop_name

In [5]:
stops=[]
index=0
for name in names:
    split_name=name.split(",")
    if(len(split_name)!=2):
        print(split_name)
    else:
        stop_no=split_name[1].split()
        try:
            coords=coords_df.iloc[index]
            stops.append([stop_no[-1],split_name[0],coords[0],coords[1]])
        except:
            print("Error: "+stop_no+"could not be parsed to an int")
    index+=1

['Virtual Stop 1']
['Virtual Stop 2']
['Hearse Road R126']

In [6]:
stop_df=pd.DataFrame(stops,columns=["stop_id","stop_name","stop_lat","stop_lon"])

In [7]:
stop_df

     stop_id            stop_name   stop_lat  stop_lon
0          2  Parnell Square West  53.352244 -6.263723
1          3  Parnell Square West  53.352309 -6.263811
2          4  Parnell Square West  53.352575 -6.264175
3          6  Parnell Square West  53.352749 -6.264454
4          7  Parnell Square West  53.352841 -6.264570
...      ...                  ...        ...       ...
4191    7367     Shoreline Sports  53.182866 -6.123548
4192    7368             Giltspur  53.181411 -6.128190
4193    7461          Charlesland  53.128932 -6.062803
4194    7462          Charlesland  53.128801 -6.062480
4195    7574       Southern Cross  53.182348 -6.130064

[4196 rows x 4 columns]

In [9]:
column_dict={
    "stop_name":"name",
    "stop_lat":"lat",
    "stop_lon":"lon"
}

In [10]:
stop_df.rename(columns=column_dict,inplace=True)

In [11]:
stop_df.to_csv("stops_cleaned.csv")